<!-- from footer.php -->
<!-- form -->
<div class="w-full mx-auto">
    <strong class="para-txt-default">Get Latest Updates !</strong>
    <form action="" class="relative w-full">
        <input class="w-full p-4 rounded-md bg-q_surface_clr shadow-md border border-q_br_clr text-xl placeholder:text-q_tx_clr/50 outline-none focus:border-q_secondary_2_clr" type="email" placeholder="where we can hit your inbox!">
        <button title="subscribe" type="button" class="absolute w-16 flex items-center justify-center h-full right-0 top-0">
        <span class="send icon opacity-50"></span>
        </button>
    </form>
</div>